<div class="container text">
    <h2 class="ui header">
        <a href="{{filepath.absolute}}">{{title_case header.name}}</a>
        {{#with header}}
        <div class="ui label">{{version}}</div>
        <div class="sub header">
            <div class="ui breadcrumb">
                <div class="section">{{category}}</div>
                <div class="divider">-</div>
                <div class="section">{{tag}}</div>
                <div class="divider">-</div>
                <div class="active section">{{name}}</div>
            </div>
        {{/with}}
    </h2>
</div>
<div class="ui hidden divider"></div>