<div class="container text">
    <h2 class="ui header">
        <a href="{{hostname 'api'}}/rx/file/acup/{{filename}}">{{title_case info.name}}</a>

        {{#with info}}
        <div class="ui label">{{version}}</div>
        <div class="sub header">
            <div class="ui breadcrumb">
                <div class="section">{{category}}</div>
                <div class="divider">-</div>
                <div class="section">{{tag}}</div>
                <div class="divider">-</div>
                <div class="active section">{{name}}</div>
            </div>
        {{/with}}
    </h2>
    {{{ibis_file this}}}
</div>